* {
    box-sizing: border-box;
}

/* #altele {
    float: left;
    
} */

/* #altele+label {
 
    display: block;
    float: left;


} */

.other {

    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    height: 22px;
    margin-bottom: 4px;
}


#altele-textarea {
    width: 200px;
    overflow: hidden;
    margin-top: 0px;
    height: 10px;
    
}

#details-item {
    width: 300px;
    overflow: hidden;
    margin-top: 0px;
    height: 10px;
    
}

#required {
    width: 200px;
}

#detail-text {
    width: 200px;
}

#required::after {
    content: '*';
    color: red;
}

.danger {
    background-color: lightgray;
    border-left: 6px solid magenta;
  }

.submit-strip {
    background-color: blanchedalmond;
    height: 50px;
    margin-top: -16px;
}

#send-button {
    /* float: right; */
    /* position: relative;
    right: 10%;
    top: 10px; */
    width: 150px;
    color: white;
    background-color: #3a3038;
    border: inset black 1px;
    /* margin-top: -16px; */
    
}

#send-button:active {
    border: 1px white inset;
    color: grey;
    
}