* {
    box-sizing: border-box;
}

.footer {
    border-top: 2px magenta solid;
    background-color: #3a3038;
    font-size: 15px;
    overflow: auto;
    color: bisque;
    padding: 50px;

    position: relative;
    z-index: 2;

}

    .businessInfo {
        
        height: auto;
        overflow: auto;
    }

        .leftHalf {
            width: 60%;
            float: left;
        }

            .top p:first-child {
                position: relative;
                bottom: -15px;
            }

            hr {
                height: 0px;
                border: none;
                border-top: 2px solid beige;
            }

           .bottom p:first-child {
               position: relative;
               bottom: -15px;
           }
           

        .rightHalf {
            float: left;
            margin-left: 2vw;
        }

            .rightHalf p {
                position: relative;
                bottom: -15px;
            }

            .rightHalf ul a {
                text-decoration: none;
                color: bisque;
                
            }

    #copyright {
        position: relative;
        top: 50px;
    }

        #copyright a {
            text-decoration: none;
            color: bisque;
        }