* {
    box-sizing: border-box;
    /* border: 1px dashed fuchsia; */
    
}

#logoName {
    color: #209A32;
    display: inline;
    font-family:  'Franklin Gothic Medium', Arial, sans-serif, sans-serif;
    font-weight: bold;
    font-size: 48px;
    
}

.navbar {
    /* border: 2px dotted aqua; */
    padding-right: 0px;
    height: 120px;
    padding-bottom: 0%;
}

    .navContainer {
        /* border: magenta 2px solid; */
        padding-left: 0;
        margin-left: 5%;
        margin-bottom: -2%;
        /* border: #209A32 1px solid; */
    }

        .navItem {
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
            font-weight: bold;
            position: relative;
            top: 13px;
            z-index: 3;
            width: 60vw;
            /* border: 1px solid yellow; */            
        }

        .links {
            text-decoration: none;
            color: rgb(83, 83, 83);
            font-size: 18px;
            margin-right: 10px;
            padding-left: 10px;
            position: relative;
            bottom: 12px;
            
        }

        .links:active {
            color: #3a3038;
        }

        .links:hover {
            color: #209A32;
        }

        .homeIcon {
            margin-left: 20px;
            margin-right: 20px;
            position: relative;
            bottom: 10px;
        }

        .navLogo {
            margin-right: 40px;
            position: absolute;
            right: 0;
            z-index: 2;
            /* border: lime 1px dotted; */
            
        }

            #logoName {
                
                position: relative;
                bottom: -15px;
            }

