
* {
    box-sizing: border-box;
    /* border: 1px dashed fuchsia; */
}

#logoName {
    color: #209A32;
    display: inline;
    font-family:  'Franklin Gothic Medium', Arial, sans-serif, sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.navbar {
    /* border: 2px dotted aqua; */
    padding-right: 0px;
    height: 120px;
    padding-bottom: 0%;
}

    .navContainer {
        /* border: magenta 2px solid; */
        padding-left: 0;
        margin-left: 5%;
        margin-bottom: -2%;
    }
        /* .navContainer {
            width: 50vw;
        } */

        .navItem {
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
            font-weight: bold;
            
            position: relative;
            top: 13px;
            /* border: 1px solid yellow; */
            left: 0;
            
        }

        .links {
            text-decoration: none;
            color: rgb(83, 83, 83);
            font-size: 18px;
            margin-right: 10px;
            position: relative;
            bottom: 20px;

        }

        .homeIcon {
            margin-right: 20px;
            position: relative;
            bottom: 20px
        }

        .navLogo {
            margin-right: 40px;
            /* border: lime 1px dotted; */
        }

            #logoName {
                
                position: relative;
                bottom: -15px;
            }
    
    /* .hanging {
        height: 200px;
        width: 130px;
        position: absolute;
        right: 92px;
        top: 88px;
        
    } */


.onDisplay {
    height: 2800px;
    margin-top: 0px;
    /* background-image: url('../images/plantCurtain.png');
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: cover; */
    position: relative;
}

    #displayTitle {
        /* border: peru 2px dashed; */
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        position: relative;
        top: 10vh;
        text-align: center;
        box-shadow: 0px 0px 26px black;
    }

    .pagination {
        position: absolute;
        right: 10px;
        top: 100px;
    }

    .catalogue {
        display: flex;
        padding: 40px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 200px;
        position: relative;
        z-index: 1;
    }

    .catalogue hr {
        height: 0px;
        border: none;
        border-top: 4px solid darkolivegreen;
        margin-bottom: 0;
        
    }

        .productPic {
            height: 500px;
            width: 400px;
            outline: inset 10px darkolivegreen;
            /* opacity: 0.5; */
            position: relative;
            z-index: +1;
            transition: 0.3s;
            border-radius: 5%;
            margin: 10px;
            
        }

        .productPic:hover {
            filter: grayscale(50%)
        }

        .description {
            background-color: blanchedalmond;
            border: 5px dashed rgb(131, 98, 9);
            margin-top: -95px;
            margin-bottom: 160px;
            padding-bottom: 20px;
            position: relative;
            top: 0px;
            transition: 0.8s;
            z-index: 0;
            border-radius: 3%;
            width: 395px;
            left: 14px;
        }

        .description:hover {
            top: 90px;
        }

        .description h5 {
            position: relative;
            top: 15px;
            left: 10px;
        }

        .description h3, h4 {
            margin-left: 10px;
            position: relative;
            bottom: -14px;
        }

    .bottomFrame {
        width: 100%;
        height: 80vh;
        /* border: 1px magenta solid; */
        position: absolute;
        bottom: 0px;
        
    }

.footer {
    border-top: 2px magenta solid;
    background-color: #3a3038;
    font-size: 15px;
    overflow: auto;
    color: bisque;
    padding: 50px;

}

    .businessInfo {
        height: auto;
        overflow: auto;
    }

        .leftHalf {
            width: 60%;
            float: left;
        }

            .top p:first-child {
                position: relative;
                bottom: -15px;
            }

            hr {
                height: 0px;
                border: none;
                border-top: 2px solid beige
            }

           .bottom p:first-child {
               position: relative;
               bottom: -15px;
           }
           

        .rightHalf {
            float: left;
            margin-left: 2vw;
        }

            .rightHalf p {
                position: relative;
                bottom: -15px;
            }

            .rightHalf ul a {
                text-decoration: none;
                color: bisque;
                
            }

    #copyright {
        position: relative;
        top: 50px;
    }

        #copyright a {
            text-decoration: none;
            color: bisque;
        }



@media only screen and ( max-width: 1830px ) {
    .productPic {
        width: 300px;
        height: 375px;
    }

    .description {
        width: 295px;
    }
}
    

@media only screen and ( max-width: 768px ) {
    .productPic {
        width: 200px;
        height: 250px;
        /* opacity: 0.2; */
    }

    .description {
        width: 195px;
        
    }

    .description h3, h4, h5 {
        font-size: 14px;
         
        
    }
}

@media only screen and ( max-width: 320px ) {

    .catalogue {
        padding: 2px;
    }

    .productPic {
        width: 100px;
        height: 125px;
        /* opacity: 0.2; */
    }

    .description {
        width: 95px;
    }

    .description h3, h4, h5 {
        font-size: 14px;
    }

    .pagination {
        top: 60px;
        
    }
}
